In [4]:
#Install missing packages

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [5]:
#Import csv file
data = pd.read_csv('dados_vendas_sujos.csv')

In [9]:
#Learn about the dataframe 
data.head(2)

,Data_Venda,Produto,Categoria,Preco_Unitario,Quantidade,Vendedor,Regiao
0,2024-01-05,Teclado,Periféricos,150.0,5.0,Ana,SP
1,05/02/2024,Mouse,Periféricos,80.0,10.0,Bruno,RJ

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Data_Venda      7 non-null      object
 1   Produto         7 non-null      object
 2   Categoria       8 non-null      object
 3   Preco_Unitario  7 non-null      float64
 4   Quantidade      7 non-null      float64
 5   Vendedor        8 non-null      object
 6   Regiao          8 non-null      object
dtypes: float64(2), object(5)
memory usage: 580.0+ bytes

In [11]:
data.tail(2)

   Data_Venda  Produto Categoria  Preco_Unitario  Quantidade Vendedor Regiao
6  2024-06-20      NaN      Tela           950.0         1.0      Ana     MG
7  2024-06-20  Monitor      Tela           900.0         1.0      Ana     MG